@import "tailwindcss";


html,body{
  scroll-behavior: smooth;
}

.font-orbitron {
  font-family: var(--font-orbitron), sans-serif;
  letter-spacing: 0.05em;
}

.font-krona {
  font-family: var(--font-krona), sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
}

.nav-btn {
  background-image: linear-gradient(90deg, #32B72A, #165113, #32B72A);
  background-size: 300% 100%;
  background-position: 0% 0%;
  transition: background-position 0.4s ease-in-out, box-shadow 0.4s;
  color: white;
}

.nav-btn:hover {
  background-position: 100% 0%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

